html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: Poppins !important;
}

body {
      background: url(unsplash06.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.logo {
      font-size: 1.4rem;
      line-height: 40px;
      float: left;
      margin: 0.8em 0 0 2.2em;
      font-weight: bolder;
      color: #fff;
      text-shadow: 1px 1px #ccc;
      cursor: pointer;
}

.nav {
      line-height: 40px;
      margin: 1.2em;
      position: absolute;
      right: 0;
}

.nav ul li {
      list-style: none;
      display: inline-block;
      color: #fff;
      padding: 0 18px;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 2px;
}

.nav ul li:first-child {
      color: #000;
      background-color: #fff;
}

.nav ul li:hover {
      color: #000;
      background-color: #fff;
}

.social-media {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding: 20px 10px 0;
      cursor: pointer;
}

.social-media ul li:hover i {
      transform: scale(1.3);
}

.side-strip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -4em;
      transform: rotate(90deg);
      color: #fff;
      letter-spacing: 4px;
}

.header {
      position: absolute;
      top: 38%;
      left: 46%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #fff;
      font-weight: bolder;
      text-shadow: 2px 0px #00000070;
}

.header p {
      color: #fff;
      font-weight: lighter;
}

.header button {
      margin-top: 12px;
      border: 1px solid #fff;
      padding: 16px 40px;
      background: #fff;
      color: #000;
      letter-spacing: 4px;
      font-weight: 600;
      font-size: 12px;
      transition: 0.3s;
      border-radius: 2px;
}

.header button:hover {
      cursor: pointer;
      background: transparent;
      color: #fff;
}

.bottom-bar {
      color: #fff;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
}

.row {
      padding: 2.6em 2.6em 2em 2.6em;
      background: rgba(0, 0, 0, 0.5);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
}

.bottom-bar h6 {
      font-weight: bolder;
      text-transform: uppercase;
}

.bottom-bar p {
      font-size: 14px;
      font-weight: lighter;
}

.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0%;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 12px;
}
